/* html {
    overflow-x: hidden;
} */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background: linear-gradient(90deg, #00bcd4, #03a9f4);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    position: relative;
}
svg {
    position: absolute;
    z-index: -1;
}
svg:nth-of-type(1) {
    top: 0;
}
svg:nth-of-type(2) {
    bottom: 0;
}
/* @media (max-width: 767px) {
    svg:nth-of-type(2) {
        top: 100%;
    }
} */
.container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media (max-width: 767px) {
    .project {
        padding: 30px;
        overflow: hidden;
    }
}
@media (min-width: 768px) {
    .container {
        width: 750px;
        padding: 0;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
        padding: 0;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1070px;
        padding: 0;
    }
}
.project {
    position: relative;
    max-width: 100%;
}
.project::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(120deg, #dff5ff, #00ffe7aa);
    bottom: -45px;
    left: -90px;
    border-radius: 42% 61% 55% 42% / 34% 26% 61% 71%;
}
.project::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background: linear-gradient(#dff5ff, #00e2ffaa);
    top: -45px;
    border-radius: 47% 53% 34% 66% / 47% 41% 59% 53%;
    right: -75px;
    z-index: -1;
}
.container {
    display: flex;
    overflow-x: hidden;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }
}
.container  .box-left {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: rgb(200 249 255 / 85%);
    justify-content: space-around;
    align-items: center;
    backdrop-filter: blur(5px);
    position: relative;
    padding: 40px 0;
}
@media (max-width: 767px) {
    .container  .box-left {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 30px;
    }
}
.container  .box-left .content1 {
    text-align: center;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .container  .box-left .content1 {
        flex-basis: 100%;
        margin-bottom: 0;
    }
}
.container  .box-left .content1 .image img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 2px solid #009688;
}
.container  .box-left .content1 h3 {
    font-size: 17px;
    margin: 5px 0;
    color: #115286;
}
.container  .box-left .content1 p {
    font-size: 14px;
    color: #9fb9d5;
}
.container  .box-left .content2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width: 767px) {
    .container  .box-left .content2 {
        flex-direction: row;
        flex-wrap: wrap;
	text-align: center;
    }
}
.container  .box-left .content2 .box {
    margin: 20px 15px;
    flex-direction: column;
    flex-basis: 30%;
}
@media (max-width: 767px) {
    .container  .box-left .content2 .box {
        margin: 10px 15px;
        flex-direction: column;
    }
}
.container  .box-left .content2 .box i {
    font-size: 40px;
    margin-right: 40px;
    color: #00bcd4;
}
@media (max-width: 767px) {
    .container  .box-left .content2 .box i {
        font-size: 35px;
        margin-bottom: 5px;
    }
}
.container  .box-left .content2 .box:nth-of-type(3) i {
    margin-right: 30px;
}
.container  .box-left .content2 a {
    color: #9fb9d5;
    text-decoration: none;
    display: block;
}
@media (max-width: 767px) {
    .container  .box-left .content2 .box:nth-of-type(3) i {
        margin-right: 0;
    }
    .container  .box-left .content2 .box i {
        margin-right: 0;
    }
    .container  .box-left .content2 .box a {
        font-size: 12px;
    }
}
@media (max-width: 280px) {
    .container  .box-left .content2 .box a {
        font-size: 10px;
    }
}
.container  .box-left .content3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, #009688, #00bcd4);
    width: 80%;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
}
.container  .box-left .content3 h3 {
    width: 95px;
    color: white;
    line-height: 1.8;
}
@media (max-width: 767px) {
    .container  .box-left .content3 h3 {
        width: 100%;
        font-size: 15px;
        margin-bottom: 10px;
    }
    .container .box-left .content3 .image img {
        width: 100%;
    }
}
.container  .box-right {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px 50px;
    backdrop-filter: blur(3px);
    background-color: rgb(255 255 255 / 35%);
}
@media (max-width: 767px) {
    .container  .box-right {
        padding: 30px 10px;
    }
}
.container  .box-right h2 {
    font-size: 45px;
    color: #115286;
    position: relative;
}
@media (max-width: 767px) {
    .container  .box-right h2 {
        font-size: 21px;
        text-align: center;
        margin-bottom: 10px;
    }
}
.container  .box-right .box {
    background-color: #c7eeff;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-radius: 30px;
    align-items: center;
} 
@media (max-width: 767px) {
    .container  .box-right .box {
        padding: 15px 0;
        margin: 5px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container  .box-right .box .image {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 10px;
    }    
}
.container  .box-right .box .image img {
    border-radius: 50%;
}
.container  .box-right .box .text {
    color: #9fb9d5;
    flex-basis: 55%;
}
@media (max-width: 991px) {
    .container  .box-right .box .text {
        flex-basis: 57%;
    }
}
.container  .box-right .box .text h3 {
    font-size: 17px;
    color: #115286;
}
.container  .box-right .box .text p {
    font-size: 13px;
    margin: 5px 0;
}
.container  .box-right .box span {
    color: #115286;
}
.container  .box-right .box .text .progress {
    height: 25px;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 15px;
    position: relative;
}
@media (max-width: 991px) {
    .container  .box-right .box .text .progress {
        height: 20px;
    }
}
.container  .box-right .box .text .progress .color {
    height: 100%;
    background: linear-gradient(90deg, #00bcd4, #03a9f4);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
}
@media (max-width: 767px) {
    .container  .box-right .box .text {
        text-align: center;
        flex-basis: 100%;
    }
    .container  .box-right .box .text h3 {
        font-size: 15px;
    }
    .container  .box-right .box .text p {
        font-size: 11px;
        margin: 5px 0 15px;
    }
    .container  .box-right .box .text .progress {
        height: 15px;
        width: 60%;
        margin: 0 auto;
    }
    .container  .box-right .box span {
        margin-top: 10px;
    }
}
@media (max-width: 320px) {
    .container  .box-right .box .text h3 {
        font-size: 11px;
    }
}